.articles-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  justify-items: center
}

.container-home {
  padding: 48px 96px;

}

.mobile-title{
  display: none;
}

@media (max-width: 600px) {
  .articles-container {
    display: flex;
    flex-direction: column;
  }
  .container-home {
    padding: 32px;
  }
  .mobile-title{
    display: flex;
  }
  
}